@import "tailwindcss";

:root {
  --bg1: #FFECCC;
  --bg2: #FF9587;
  --txt1: #BA487F;
  --txt2: #722323;
  --deftxt: #000000;
  --mode: #FFFFFF;
}

.dark {
  --bg1: #451952;
  --bg2: #662549;
  --txt1: #AE445A;
  --txt2: #F39F5A;
  --deftxt: #FFFFFF;
  --mode: #000000;
}

@theme inline {
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-txt1: var(--txt1);
  --color-txt2: var(--txt2);
  --color-deftxt: var(--deftxt);
  --color-mode: var(--mode);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: linear-gradient(-30deg, var(--bg2), var(--bg1));
  color: var(--txt2);
  font-family: var(--font-sans);
  transition: all 0.3s ease;
}